<launch>

  <!-- RealSense camera nodes -->
  <include file="$(find realsense_camera)/launch/r200_nodelet_rgbd.launch" />

  <!-- Poor man's URDF -->
  <node name="base2camera" pkg="tf" type="static_transform_publisher" args="0 0 0.09 0 0 0 base_link camera_link 100" />
  <node name="map2base" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 map base_link 100" />

	<!-- If we want to create a new nodelet manager -->
  <!-- <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen" /> -->

  <!-- VoxelGrid filter to clean NaNs, clip and downsample -->
  <node pkg="nodelet" type="nodelet" name="voxel_grid" args="load pcl/VoxelGrid camera/camera_nodelet_manager" output="screen">
    <remap from="~input" to="/camera/depth/points" />
    <rosparam>
      filter_field_name: y    # Suffix frame per http://www.ros.org/reps/rep-0103.html {x right, y down, z forward}
      filter_limit_min: -0.21 # -0.21 for desk harness, -0.15 for robot (30cm total height)
      filter_limit_max: 0.09  # 0.09 for desk harness, 0.15 for robot
      filter_limit_negative: false
      leaf_size: 0.03         # Downsample (huge speedup); 0.01 is fine, but slow; 0.05 misses obstacles
    </rosparam>
  </node>

  <!-- RadiusOutlierRemoval filter to remove outliers -->
  <node pkg="nodelet" type="nodelet" name="radius_outlier_removal" args="load pcl/RadiusOutlierRemoval camera/camera_nodelet_manager" output="screen">
    <remap from="~input" to="/voxel_grid/output" />
    <rosparam>
      radius_search: 0.10 # Must have min_neighbors w/in this radius to survive
      min_neighbors: 5
    </rosparam>
  </node>

  <!-- Convert to laserscan -->
  <node pkg="nodelet" type="nodelet" name="pointcloud_to_laserscan" args="load pointcloud_to_laserscan/pointcloud_to_laserscan_nodelet camera/camera_nodelet_manager" output="screen">
    <remap from="/camera/cloud_in" to="/radius_outlier_removal/output" />
    <rosparam>
      target_frame: camera_link   # Transform from {x right, y down, z forward} to {x forward, y left, z up}
      max_height: 0.21            # -VoxelGrid.filter_limit_min
      min_height: -0.09           # -VoxelGrid.filter_limit_max

      # Pulled from scans generated by depthimage_to_laserscan
      angle_min: -0.463766
      angle_max: 0.516538
      angle_increment: 0.001534122

      scan_time: 0
      range_min: 0.45
      range_max: 10.0
    </rosparam>
  </node>

  <!-- Launch the visualizer. -->
  <node name="rviz" pkg="rviz" type="rviz" />

</launch>
