<launch>

  <!-- RealSense camera nodes -->
  <include file="$(find realsense_camera)/launch/r200_nodelet_rgbd.launch" />

  <!-- Poor man's URDF -->
  <node name="base2camera" pkg="tf" type="static_transform_publisher" args="0 0 0.09 0 0 0 base_link camera_link 100" />
  <node name="map2base" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 map base_link 100" />

  <!-- Depth image to laser scan -->
  <node name="depth2laser" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" output="screen">
    <remap from="image" to="camera/depth/image_rect" />
    <param name="~scan_height" value="10" />
    <param name="~output_frame_id" value="camera_link" /> <!-- Important! -->
  </node>

  <!-- Launch the visualizer. -->
  <node name="rviz" pkg="rviz" type="rviz" />

</launch> 
