<launch>

  <!-- Latch cmd_vel commands for 5s to compensate for flaky wifi -->
  <param name="/ca_driver/latch_cmd_duration" value="5" />

  <!-- Launch Create2 base nodes; this also provides an URDF file -->
  <include file="$(find ca_driver)/launch/create_2.launch" />

  <!-- Launch RealSense camera nodes -->
  <include file="$(find realsense_camera)/launch/r200_nodelet_rgbd.launch" />

  <!-- Static transform to link base to camera; TODO replace this with URDF mods -->
  <node name="base2camera" pkg="tf" type="static_transform_publisher" args="0 0 0.13 0 0 0 base_link camera_link 100" />

  <!-- Simulate a bunch of laser scanners -->
  <node name="cloud2scan1" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan">
    <remap from="image" to="camera/depth/image_raw" />
    <remap from="scan" to="rodeobot/scan1" />
    <param name="~scan_height" value="1" type="int" />
  </node>
  <node name="cloud2scan2" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan">
    <remap from="image" to="camera/depth/image_raw" />
    <remap from="scan" to="rodeobot/scan10" />
    <param name="~scan_height" value="10" type="int" />
  </node>
  <node name="cloud2scan3" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan">
    <remap from="image" to="camera/depth/image_raw" />
    <remap from="scan" to="rodeobot/scan50" />
    <param name="~scan_height" value="50" type="int" />
  </node>

  <!-- Monitor the battery -->
  <node name="batteryMon" pkg="rodeobot" type="battery_monitor" output="screen" />

</launch>
