<launch>

  <!-- Include the core nodes -->
  <include file="$(find rodeobot)/launch/robot-core.xml" />

  <!-- Include the camera nodes -->
  <include file="$(find rodeobot)/launch/robot-camera.xml" />

  <!-- Add a few more laser simulations -->
  <node name="cloud2scan2" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan">
    <remap from="image" to="camera/depth/image_raw" />
    <remap from="scan" to="rodeobot/scan2" />
    <param name="~scan_height" value="5" type="int" />
    <param name="~output_frame_id" value="camera_link" /> <!-- Important! -->
  </node>
  <node name="cloud2scan3" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan">
    <remap from="image" to="camera/depth/image_raw" />
    <remap from="scan" to="rodeobot/scan3" />
    <param name="~scan_height" value="20" type="int" />
    <param name="~output_frame_id" value="camera_link" /> <!-- Important! -->
  </node>

</launch>
