<launch>
  <!-- Simulate W3. Run these three parts:
        Turtlebot in Gazebo:    roslaunch turtlebot_gazebo turtlebot_world.launch
        W3:                     roslaunch rodeobot sim-w3.launch
        Rviz (optional):        rosrun rviz rviz
  -->

  <!-- W3 -->
  <node name="w3" pkg="rodeobot" type="w3_node" output="screen">
    <remap from="/cmd_vel" to="/cmd_vel_mux/input/navi" />
    <rosparam>
      create_base: false # Simulation uses a turtlebot base, not a create_autonomy base
      x_min_vel: 0.2
      x_max_vel: 0.6
      x_accel: 1.0
      r_min_vel: 0.2
      r_max_vel: 3.0
      r_accel: 2.0
      r_epsilon: 0.05
      scan_width: 0.5 # Min width opening on horizon to move forward
      scan_horizon: 1.1 # Any scan values > this are clipped to this; also Nan and Inf
    </rosparam>
  </node>

</launch>
